.menu {
  background-color: gray;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
}
